---

- name: Install WebUpd8 apt key
  apt_key: id=EEA14886 keyserver='keyserver.ubuntu.com' state=present
  register: webupd8key
  until: webupd8key|success
  retries: 5
  delay: 10

- name: Install WebUpd8 Team Java PPA (for Oracle Java)
  apt_repository: repo='deb http://ppa.launchpad.net/webupd8team/java/ubuntu precise main' state=present
  when: java_needs_oracle

- name: Create Java 7 Cache Directory
  file: path=/var/cache/oracle-jdk7-installer state=directory
  with_items:
    - oracle-java7-installer
  when: java_needs_oracle and java7_cache_download_src_url_enabled

- name: Download Java 7 from URL
  get_url:
    url: '{{java7_cache_download_src_base_url}}{{java7_cache_download_src_filename}}'
    dest: '/var/cache/oracle-jdk7-installer/{{java7_cache_download_src_filename}}'
  with_items:
    - oracle-java7-installer
  when: java_needs_oracle and java7_cache_download_src_url_enabled

- name: Remove WebUpd8 Team Java PPA (for Oracle Java)
  apt_repository: repo='deb http://ppa.launchpad.net/webupd8team/java/ubuntu precise main' state=present
  when: java_cleanup and not java_needs_oracle
